autostart
caffeine
calcurse
chromium
coc
configstore
dconf
Dharkael
Electron
electronic-wechat
evolution
falkon
fcitx
gedit
gnome-session
goa-1.0
gtk-3.0
hexchat
htop
ibus
jesseduffield
Kvantum
mpv
nautilus
neofetch
netease-cloud-music
newsboat
nvim
pamac
procps
pulse
qt5ct
qv2ray
ranger
SogouPY
SogouPY.users
sogou-qimpanel
sxiv
wal
yay
directories
directories_
manjaro-hello.json
mimeapps.list
picom.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
